p.centrar{
    text-align: center;
}


/* h1, h2, p, div{
    color: crimson;
    text-align: center;
} */

/* *{
    background-color: ghostwhite;
    color: cornflowerblue;
}

#titulo{
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    text-align: center;
    margin-bottom: 20px;
}

.centrar{
    text-align: center;
}

.texto_grande{
    font-size: 20px;
} */




